<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../assets/js/vue.js"></script>
    <title>v-if & v-show & v-else</title>
</head>
<body>
    <h1>v-if 判断是否加载</h1>
    <hr>
    <div id="app">
        <div v-if="isLogin">你好：JSPang</div>
        <div v-else>请登录后操作</div>

    </div>
    <div id="app1">
        <ul>
            <li v-for="item in items">
                 {{item}}
            </li>
        </ul>
     </div>

    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
               isLogin:true
            }
        })
        var app=new Vue({
            el:'#app1',
            data:{
               items:[20,23,18,65,32,19,54,56,41]
            }
        })
    </script>
</body>
</html>